parameters:
    phpVersion: 80000
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: return.unusedType
        - identifier: nullCoalesce.offset

    # Set rules level
    level: 6
